body {
    background-color: rgb(0,0,128);
  }
  .Title {
    text-align: center;
  }
  h1 {
    color: rgb(0, 0, 0);
  }
  h5 {
    color: rgb(21, 10, 120);
  }
  .squareTitle {
    margin: auto;
    text-align: center;
    height: 300px;
    width: 300px;
    background-color: #ffffff;
  }